body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
  position: relative;
  background: #ccc;
}

.TwirlyPig {
  transition: all 3s ease-in-out;
  display: inline;
}

.TwirlyPig:hover {
  transform: scale(1.5);
}

.navWrapper {
  margin-bottom: 2%;
}

.filterWrapper {
  margin: 2% 0% 2% 0%;
}

.headerText {
  color: #f5a9bc;
  font-size: 3em;
  margin: 0% 2% 0% 2%;
}

.largeHeader {
  font-size: 3.5em;
  font-weight: bold;
  color: #3b0b0b;
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: #3b0b0b;
}

.normalText {
  font-family: Georgia, serif;
  font-size: 0.75em;
}

.hoggyText {
  font-size: 1.5em;
}

.achievementText {
  color: purple;
}

ul {
  list-style-type: none;
  list-style: none;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: 0.75em;
  text-align: left;
}

.subtleText {
  color: #d1d1d1;
  font-size: 0.75em;
}

.indexWrapper {
  margin: auto;
}

.pigTile {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  outline: #3b0b0b dotted thick;
  transition: 0.75s;
  opacity: 1;
}

.minBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
}

.maxBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
  opacity: 0.75;
}

.pigTile h3 {
  color: #fbb;
}

.minPigTile {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.maxPigTile {
  background-size: cover;
  width: 500px;
  height: 500px;
}

.pigTile:hover {
  transform: scale(1.05);
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  transition: all 0.2s ease-in-out;
}

.footer {
  padding: 1%;
  clear: both;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.card {
  border: 1px solid red;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  border: coral 3px;
}
.card:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 15px 0px;
  border: 1px solid red;
  cursor: pointer;
}
.card img {
  width: 100%;
}
.hogDetails {
  max-width: 50rem;
  background-color: white;
  min-width: 40rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffff00;
  padding: 10px;
  border: 1px solid red;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  z-index: 500;
  padding: 30px 10px;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 15px 0px;
  z-index: 200;
  cursor: pointer;
}
.card img,
.hogDetails img {
  height: 200px;
  width: 100%;
}

.quit {
  background: transparent;
  background-image: url(./assets/X.jpg);
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.filterContainer {
  background: #ccc;
  height: 10rem;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filter {
  border: 1px solid black;
  height: 200px;
  width: 400px;
  position: absolute;
  margin: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filterContainer input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-image: url(./assets/true.png);
  background-position: center;
  background-repeat: no-repeat;
}
.filterContainer label {
  color: #4c4c4c;
  font-size: 30px;
  font-weight: 600;
}
.sort {
  border: 1px solid black;
  height: 200px;
  width: 400px;
  position: absolute;
  margin: auto;
  right: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hide button {
  background-color: #ffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  color: #4c4c4c;
  font-size: 30px;
  font-weight: 600;
  border: 1px solid black;
}
select {
  outline: 0;
  box-shadow: none;
  background-color: #ffff;
  width: 50%;
  border: 0;
  cursor: pointer;
}
h2 {
  font-size: 40px;
}
h4 {
  font-size: 20px;
}
form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
  border: 1px solid black;
  align-items: center;
  width: 50%;
  margin: auto;
}

form input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  font-size: 20px;
  margin: 10px;
}
form button {
  background-color: #ffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
  width: 9rem;
  color: #4c4c4c;
  font-size: 30px;
  font-weight: 600;
  border: 1px solid black;
}
form label {
  display: block;
  font-size: 25px;
  margin: 5px;
}

button {
  transition: all 0.5s;
  border: 1px solid black;
}
.formContainer button:hover,
.hide button:hover {
  background: rgb(189, 158, 158);
}
form input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
form input[type="checkbox"]:checked {
  background-image: url(./assets/true.png);
  background-position: center;
  background-repeat: no-repeat;
}
.formContainer {
  margin: 30px 0 0 0;
}
.formContainer button {
  background-color: #ffff;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  color: #4c4c4c;
  font-size: 30px;
  font-weight: 600;
  border: 1px solid black;
  margin-bottom: 10px;
}
/*////////*/
